/* style for project archive */
@import url("grid.css");

body {
  background-color: #92a8d1;
}

img {
  width: 100%;
}

.header {
  margin-top: 20px;
}

.footer {
  margin-bottom: 100px;
}

.active {
  background-color: #5479FF;
}
