/* style for project archive secondary pages*/


body {
    background-color: #eeeeee;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-size: 15px;
    min-width: 850px;
    margin-left: 5%;
    margin-right: 5%;
}

a:hover {
    opacity: 0.6;
}

img {
    border: 0px;
}

img.photo {
    float: left;
    margin-top: 5px;
    margin-left: 2px;
    width: 800px;
    /*left: calc(50% - 250px);*/
}

img.photo:hover {
    opacity: 1;
}

#back {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#back a:link, #back a:visited {
    text-decoration:none;
    color: black;
}

#link_bar {

    float: left;
    padding-left: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 135%;
    width: calc(100% - 70px);
    border-top: solid #eeeeee;
    background-color: black;
    word-spacing: 30px;

}

#link_bar a:link, #link_bar a:visited {
    text-decoration:none;
    color: #eeeeee;
}

#h1 {

    color: black;
    float: left;
    padding-left: 2px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 22px;
    width: 100%;

}

#l2 {

    float: left;
    background-color: black;
    height: 1px;
    width: calc(100% - 30px);
    border-top: solid #eeeeee;
    border-width: 5px;

}

#m1 {

    line-height: 25px;
    background-color: black;
    color: #eeeeee;
    height: 50px;
    width: 150px;
    float: left;
    padding: 2px;
    border-right: solid #eeeeee;
    font-size: 20px;

}

#mf {

    background-color: black;
    height: 54px;
    width: calc(100% - 186px);
    float: left;

}

#m1 a:link, #m1 a:visited {
    text-decoration:none;
    color: #eeeeee;
}

#footer {

    float: left;
    width: 100%;
    height: 30px;

}

.text {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    line-height: 135%;
    width: 764px;
}

.gap {

  float: left;
  width: 100%;
  height: 15px;

}

.gap2 {

    float: left;
    width: 100%;
    height: 1px;

}
